/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--blue:  #0d2f56;
	--gray: #4d4d4d;
   --dark-gray:  #181819;
   --light-blue:  #0054a0;
	--navy-blue: #0a213d;
   --green:  #35a748;
   --font-blue:  #02538b;
   --hover-blue:  #004178;
}

/* USAGE */

.thingy {
	color:  var(--highlight); /* used as variable */
}
