.welcome {
  background: linear-gradient(75deg, #F7F8F8 60%, #3639C5 40%);

}


.welcome inner-column {
  padding:  0;

}
graphic-diptych {
   display:  block;

}



.up-to, .onboarding {
   display:  flex;
   flex-direction: column;
   justify-content: start;
   /*gap:  2px;*/
   font-size:  10px;
}

.onboarding {
   justify-content: center;
}

.up-to p, .onboarding p {
   margin:  0;
}

.onboarding p:first-child {
   font-weight: 500;
}

.price {
    font-family: 'Noticia Text', serif;
   font-size: 40px;
   font-weight: 700;
  transform: translateY(-10px);
}


   text-content button {
   /*display:  inline-block;*/
   margin-top:  30px;
   padding:  10px 20px;
   background-color: var(--font-blue);
   color:  var(--white);
   font-size: 12px;
   font-weight: 500;
   width:  auto;
   align-self: flex-start;
   border:  none;

}








@media (min-width:  750px) {

   graphic-diptych text-content h1.loud-voice {
      font-size: 35px;
      padding-top:  10px;
   }

   .welcome {
      background-color: var(--blue);
   }



}










