
.site-header {
   z-index:  10000;
   box-shadow: 0px -10px 20px -12px var(--black);
}

.site-menu {
   display:  flex;
   justify-content: space-between;

}

mast-head {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;

  display:  flex;
  flex-direction:  row;
  /*justify-content: space-between;*/
  /*width:  100%;  */

}


.menu-item {
   display:  flex;
   flex-direction: column;
   justify-content: center;
   gap: 5px;
}

.menu-item i {
   align-self: center;
}

.nav-items {
   display:  flex;
}

 a.menu-item:hover {
   background-color: rgba(0, 65, 120, 0.9);

}

mast-head nav.site-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow:  2;

}

main {
   z-index:  1000;
}

mast-head a.logo {
  max-width:  100px;

}

mast-head .user-menu {
  text-align:  center;

}


mast-head a {
  padding:  10px;
  font-size:  16px;

}

.user-menu {
   align-self: center;
}


@media (min-width:  450px) {

mast-head nav.site-menu {

  align-items: flex-end;
  

}
   mast-head .user-menu {
    align-self: flex-end;

}

}


































